.login-section {

    .container {

        main {
            height: 80vh;
            display: flex;
            justify-content: center;
            padding: 80px 0;
            gap: 40px;
            align-items: center;

            .slider {
                width: 500px;
                height: 750px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                #bg{
                    width: 100%;
                }
                #pic{
                    position: absolute;
                    right: 12%;
                    top: 7%;
                    width: 55%;

                }
            }

            .form-section {
                width: 400px;
                height: 600px;
                display: flex;
                flex-direction: column;
                gap: 20px;
                form{
                    border: 1px solid rgba(128, 128, 128, 0.308);
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 40px;
                    gap: 12px;
                    h1{
                        font-weight: 400;
                        font-size: 36px;
                        margin-bottom: 50px;

                    }
                    input{
                        border: 1px solid rgba(128, 128, 128, 0.479);
                        background: rgba(128, 128, 128, 0.151);
                        width: 100%;
                        padding: 8px 16px;
                        font-size: 15px;
                        letter-spacing: .2px;
                        &:hover{
                            border: 1px solid rgb(109, 107, 107);

                        }
                        &:focus{
                            border-radius: 12px;
                            background: #fff;
                            border: 1px solid rgba(182, 175, 175, 0.459);
                        }
                        


                    }
                    #btn-login{
                        text-align: center;
                        width: 100%;
                        padding: 8px;
                        font-size: 17px;
                        margin-top: 6px;
                        color: #fff;
                        background: rgb(61, 61, 197);
                        &:hover{
                        background: rgb(33, 33, 255);


                        }
                    }
                    h3{
                        color: gray;
                        font-weight: 200;
                        letter-spacing: -2px;
                        span{
                            color: rgb(78, 78, 78);
                        }

                    }
                    #log-face{
                        letter-spacing: 1.6px;
                    }
                    #forgot-pass{
                        color: gray;
                        font-size: 14px;
                    }
                }
            }
        }


        footer {
            height: 20vh;
            padding: 60px 0;

            nav {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 12px;

                a {
                    color: gray;
                }
            }

            .lang {
                display: flex;
                justify-content: center;
                padding: 20px 0;
                gap: 16px;
                color: gray;
            }
        }



    }
}