section {
  padding-top: 40px;
  height: 100vh;
  min-height: 600px;
}
section .container {
  height: 100%;
  display: flex;
}
section .container aside {
  height: 100%;
  width: 300px;
  border-right: 1px solid #969696;
}
section .container aside nav {
  display: flex;
  flex-direction: column;
  padding: 36px 6px;
  gap: 32px;
  height: 100%;
}
section .container aside nav a {
  color: #969696;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 1.1px;
  display: flex;
  align-items: center;
  gap: 12px;
}
section .container aside nav a img {
  width: 28px;
  height: 28px;
}
section .container aside nav a #prof-img {
  width: 32px;
  height: 32px;
}
section .container aside nav a#exit {
  margin-top: auto;
}
section .container main {
  overflow: scroll;
}
section .container main::-webkit-scrollbar {
  display: none;
}
section .container #home-main {
  max-width: 750px;
  flex: 1;
}
section .container #home-main nav {
  padding: 10px;
  display: flex;
  gap: 16px;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-direction: horizontal;
}
section .container #home-main nav::-webkit-scrollbar {
  display: none;
}
section .container #home-main nav .story-box {
  min-width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid red;
  cursor: pointer;
}
section .container #home-main nav .story-box img {
  transform: translate(-3px, -3px);
  width: 110%;
  height: 110%;
}
section .container #home-main .post-wrapper {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
section .container #home-main .post-wrapper .post {
  width: 520px;
}
section .container #home-main .post-wrapper .post .post-info {
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.433);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section .container #home-main .post-wrapper .post .post-info .info-profile {
  flex: 1;
  display: flex;
  gap: 8px;
  align-items: center;
}
section .container #home-main .post-wrapper .post .post-info .info-profile img {
  min-width: 45px;
  height: 45px;
}
section .container #home-main .post-wrapper .post .post-info .info-profile .title h2 {
  line-height: 22px;
  font-size: 17px;
  font-weight: 500;
}
section .container #home-main .post-wrapper .post .post-info .info-profile .title h2 #date {
  font-size: 15px;
  color: gray;
}
section .container #home-main .post-wrapper .post .post-info .info-profile .title h2 #followLink {
  color: cornflowerblue;
}
section .container #home-main .post-wrapper .post .post-info .info-profile .title p {
  font-size: 14px;
  color: gray;
}
section .container #home-main .post-wrapper .post .post-info img {
  max-width: 40px;
  cursor: pointer;
}
section .container #home-main .post-wrapper .post img {
  width: 100%;
}
section .container #home-main .post-wrapper .post video {
  width: 100%;
}
section .container #explore-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 35px;
}
section .container #explore-main .profile-wrapper {
  display: flex;
  padding: 60px 20px;
  gap: 32px;
}
section .container #explore-main .profile-wrapper img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
section .container #explore-main .profile-wrapper .profile-txt nav {
  padding: 10px 0;
  display: flex;
  align-items: center;
  gap: 20px;
}
section .container #explore-main .profile-wrapper .profile-txt nav h2 {
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.8px;
}
section .container #explore-main .profile-wrapper .profile-txt nav button {
  border-radius: 12px;
  padding: 5px 10px;
  background: #ececec;
}
section .container #explore-main .profile-wrapper .profile-txt .raiting {
  display: flex;
  align-items: center;
  padding: 10px 0;
  gap: 30px;
}
section .container #explore-main .profile-wrapper .profile-txt .raiting p {
  font-size: 18px;
  font-weight: 400;
}
section .container #explore-main .profile-wrapper .profile-txt .raiting p span {
  font-size: 20px;
  font-weight: 600;
}
section .container #explore-main .profile-wrapper .profile-txt .info h3 {
  font-size: 17px;
  font-weight: 500;
}
section .container #explore-main .profile-wrapper .profile-txt .info p {
  color: gray;
}
section .container #explore-main .row {
  display: flex;
  gap: 20px;
}
section .container #explore-main .row .colum {
  height: 800px;
  width: 420px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
section .container #explore-main .row .colum .mini {
  width: 100%;
  height: 380px;
  -o-object-fit: cover;
     object-fit: cover;
}
section .container #explore-main .row .colum .big {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
section .container #explore-main .row .colum img {
  cursor: pointer;
}
section .container #explore-main .row .colum img:hover {
  opacity: 0.7;
}/*# sourceMappingURL=home.css.map */